<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngodesain.mondokin">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mondokin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mondokin_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mondokin">
        <activity android:name="com.ngodesain.mondokin.ui.activity.BantuanActivity"
            android:theme="@style/Theme.Mondokin.noAction">
        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.activity.SplashScreenActivity"
            android:theme="@style/Theme.Mondokin.noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.terdekat.MapsTerdekatActivity"
            android:theme="@style/Theme.Mondokin.noAction">

        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.activity.DetailFromJarakActivity"
            android:theme="@style/Theme.Mondokin.noAction">

        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.activity.MapsActivity"
            android:theme="@style/Theme.Mondokin.noAction">

        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.activity.DetailActivity"
            android:theme="@style/Theme.Mondokin.noAction">

        </activity>
        <activity
            android:name="com.ngodesain.mondokin.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mondokin.noAction"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>